<nav id="navbar" class="section bd-navbar has-shadow is-spaced">
<div class="container">
    <div class="navbar-start">
    <div>
        <h1 class="title">
            Hello People,
        </h1>
        <p class="subtitle">
            Welcome to  <strong>Food Log</strong>!
        </p>
    </div>
    </div>
    <div class="navbar-end">
    <div>
        <%= link_to  new_entry_path, class: "button is-light" do %>
            <span class="navbar-item">Create New Entry</span>
        <% end %>
    </div>
    </div>   
</div>
</nav>
